In [1]:
import pandas as pd
pd.options.display.max_columns = None
df = pd.read_csv('data/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv')
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,32.0,32.0,NaN,NaN,30.5,33.5,7304.0,Total,NaN,NaN,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Total,Total,OVR,OVERALL
1,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,32.3,32.3,NaN,NaN,29.9,34.7,2581.0,NaN,NaN,NaN,Male,NaN,NaN,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Male,GEN,MALE
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,31.8,31.8,NaN,NaN,30.0,33.6,4723.0,NaN,NaN,NaN,Female,NaN,NaN,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Gender,Female,GEN,FEMALE
3,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,33.6,33.6,NaN,NaN,29.9,37.6,1153.0,NaN,NaN,Less than high school,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,Less than high school,EDU,EDUHS
4,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,32.8,32.8,NaN,NaN,30.2,35.6,2402.0,NaN,NaN,High school graduate,NaN,NaN,NaN,"(32.84057112200048, -86.63186076199969)",OWS,OWS1,Q036,VALUE,1,Education,High school graduate,EDU,EDUHSGRAD

In [2]:
df.count()

YearStart                     53392
YearEnd                       53392
LocationAbbr                  53392
LocationDesc                  53392
Datasource                    53392
Class                         53392
Topic                         53392
Question                      53392
Data_Value_Unit                   0
Data_Value_Type               53392
Data_Value                    48346
Data_Value_Alt                48346
Data_Value_Footnote_Symbol     5046
Data_Value_Footnote            5046
Low_Confidence_Limit          48346
High_Confidence_Limit         48346
Sample_Size                   48346
Total                          1907
Age(years)                    11438
Education                      7628
Gender                         3814
Income                        13349
Race/Ethnicity                15256
GeoLocation                   52384
ClassID                       53392
TopicID                       53392
QuestionID                    53392
DataValueTypeID               53392
LocationID                    53392
StratificationCategory1       53392
Stratification1               53392
StratificationCategoryId1     53392
StratificationID1             53392
dtype: int64

In [3]:
df.columns = [x.replace('(years)', '').upper() for x in df.columns]
df.count()

YEARSTART                     53392
YEAREND                       53392
LOCATIONABBR                  53392
LOCATIONDESC                  53392
DATASOURCE                    53392
CLASS                         53392
TOPIC                         53392
QUESTION                      53392
DATA_VALUE_UNIT                   0
DATA_VALUE_TYPE               53392
DATA_VALUE                    48346
DATA_VALUE_ALT                48346
DATA_VALUE_FOOTNOTE_SYMBOL     5046
DATA_VALUE_FOOTNOTE            5046
LOW_CONFIDENCE_LIMIT          48346
HIGH_CONFIDENCE_LIMIT         48346
SAMPLE_SIZE                   48346
TOTAL                          1907
AGE                           11438
EDUCATION                      7628
GENDER                         3814
INCOME                        13349
RACE/ETHNICITY                15256
GEOLOCATION                   52384
CLASSID                       53392
TOPICID                       53392
QUESTIONID                    53392
DATAVALUETYPEID               53392
LOCATIONID                    53392
STRATIFICATIONCATEGORY1       53392
STRATIFICATION1               53392
STRATIFICATIONCATEGORYID1     53392
STRATIFICATIONID1             53392
dtype: int64

In [4]:
df.drop(['DATA_VALUE_UNIT','EDUCATION'], axis=1, inplace=True)

In [8]:
df[df.DATA_VALUE.isnull()]['DATA_VALUE_FOOTNOTE'][23]

'Data not available because sample size is insufficient.'